.menu {
    background-color: #65db84;
    width: max(min(300px,30%),200px);
    height: 100vh;
    padding-top: 250px;
}

.menu-button {
    background-color: #65db84;
    border: none;
    padding: 20px;
    width: 100%;
    font-size: 30px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-button:hover {
    background-color: #4da865;
}

.menu-button:active {
    background-color: #377a49;
}