.social-bar {
    position: absolute;
    bottom: 15%;
    width: 100%;
}

.image-icon {
    width: 7%;
    margin-left: auto;
    margin-right:auto;
}

.test {
    position: absolute;
    margin-top: 0%;
    left: 20%;
}